

body {
  font-size: 0.875rem;
}

/* 본문영역 페이지 container */
.v-application {
    font-size: 0.938rem;
    .single-layout-body-container {
        padding: 50px 15px;
  
    }
    .sub-layout-body-container {
        padding: 20px 15px;
  
    }

     /* 로그인, 메시지 박스 등 내부  Card 형 박스 */
     & .card-box {
        margin: 0 auto;
        max-width: 460px;
    }

    /* SelectBox 커스텀 */
    
}

/* 컴포넌트 커스터마이징 */


/* 본문영역 페이지 container */
// @media (min-width: 960px) {
//     
// }


.search-area {
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 20px;
    padding-right: 120px;
    position: relative;
    .v-label {
      align-self: center;
    } 
}

.search-area form {
  display: flex;
  flex-wrap: wrap;
}

.search-area .item {
  padding: 3px 10px;
  width: 25%;
}

.search-area .item.col2 {
  width: 50%;
}

.search-area .item.col3 {
  width: 75%;
}

.search-area .item.col4 {
  width: 100%;
}

/* vutify customizing */
.search-area .v-text-field__details {
  display: none;
}

.search-area .v-text-field {
  padding-top: 0;
  margin-top: 0;
}

.search-area .v-input__slot {
  margin-bottom: 0;
}

.search-area .v-text-field > .v-input__control > .v-input__slot:before {
  content: none;
}

.search-area .v-text-field__slot .v-label {
  position: static !important;
  transform: none !important;
  max-width: auto;
  overflow: visible;
  margin-right: 10px;
}
.search-area .v-text-field__slot .v-label + input {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
}

.search-area .v-input input {
  max-height: 28px;
  text-indent : 5px;
}

.search-area .v-text-field > .v-input__control > .v-input__slot:after {
  display: none;
}

.search-area .v-btn[type="submit"] {
  position: absolute;
  right: 10px;
  top: 13px;
}

/* 조회영역. SelectBox */
.search-area .v-select label {
  position: static !important;
  margin-right: 10px;
  transform: none;
}
.search-area .v-select .v-select__selections {
  background:   #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 28px;
}
.search-area .v-select .v-select__selection {
  margin: 0 5px;
}
.search-area .v-select .v-input__append-inner {
  position: absolute;
  right: 2px;
  margin-top: 0;
}
.search-area .v-select .v-input__icon {
  height: 26px;
}

/* 조회영역. CheckBox */
.search-area .v-input--checkbox {
  margin: 0 10px 0 0;
  display: inline-block;
  padding-top: 0;
  vertical-align: middle;
}
.search-area .item > label {
  font-size: 14px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.search-area .v-messages {
  display: none;
}

/* 반응형 처리, mobile first */
.app-xs {
  .search-area {
    padding-right: 0;
  }
  .search-area .item {
    width: 100%;
  }
  .search-area .v-btn[type="submit"] {
    position: static !important;
    flex-grow: 1;
    margin: 3px 10px 0px;
  }
}

.app-sm {
  .search-area {
    padding-right: 0;
  }
  .search-area .item {
    width: 50%;
  }
  .search-area .item.col2,
  .search-area .item.col3 {
    width: 100%;
  }
  .search-area .v-btn[type="submit"] {
    position: static !important;
    flex-grow: 1;
    margin: 3px 10px 0px;
  }
}

.app-md {
  .search-area .item {
    width: 33.3333%;
  }
  .search-area .item.col2 {
    width: 66.6667%;
  } 
  .search-area .item.col3 {
    width: 100%;
  }
}

/* 더미 영역 박스 */
.dummy-box {
  background: #f1f1f1;
  padding: 20px 10px;
  margin-bottom: 25px;
  text-align: center;
  color: #999;
}