
@import '@/scss/customVariables.scss';

@font-face {
  font-family: 'NotoSansKr';
  src : local("NotoKR-Regular");
  src : url(@/assets/fonts/noto-sans-kr-v27-korean-regular.woff2) format('woff2'),
	url(@/assets/fonts/noto-sans-kr-v27-korean-regular.woff) format('woff'),
        url(@/assets/fonts/notokr-regular.ttf) format('turetype');
  font-weight: 400;
  font-style: normal ;
}
/*기본 bold*/
@font-face {
  font-family: 'NotoSansKr';
  src : local("NotoKR-Medium");
  src : url(@/assets/fonts/noto-sans-kr-v27-korean-500.woff2) format('woff2'),
	url(@/assets/fonts/noto-sans-kr-v27-korean-500.woff) format('woff'),
        url(@/assets/fonts/notokr-medium.ttf) format('turetype');
  font-weight: 500;
  font-style: normal;
}
/*bold */
@font-face {
  font-family: 'NotoSansKr';
  src : local("NotoKR-Bold");
  src : url(@/assets/fonts/noto-sans-kr-v27-korean-700.woff2) format('woff2'),
	url(@/assets/fonts/noto-sans-kr-v27-korean-700.woff) format('woff'),
        url(@/assets/fonts/notokr-bold.ttf) format('turetype');
  font-weight: 700;
  font-style: normal;
}


$maxContentWidth: 1500px;
$comBoxVPadding: 40px;


html { 
  overflow: initial !important;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  min-width: 360px;
  word-wrap:break-word;
  word-break:keep-all;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem; /* 32px */
}

h2 {
  font-size: 1.75rem; /* 28px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1.1.125rem; /* 18px */
}

h6 {
  font-size: 1rem; /* 16px */
}


ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
a {
  text-decoration: none;
  color: inherit;
}

/********************************************
  breakpoint 공통 스타일 + lg(1264px) 이상
*********************************************/

/* 본문영역 페이지 container */

.v-application {
    font-size: 0.938rem;
    
    /* max-width-box */
    .max-width-box {
      padding-right: $boxHPadding_lg;
      padding-left: $boxHPadding_lg;
      margin: 0 auto;
      // border: 1px solid red;
    }

    .single-page .max-width-box {
      max-width: $maxContentWidth;
    }
 
}

/* 컴포넌트 커스터마이징 */
.v-input--is-disabled {
  background: #f1f1f1;
  &.v-text-field--outlined fieldset {
    border: 1px solid #ddd;
  }
}

/* 본문영역 페이지 container */
// @media (min-width: 960px) {
//     
// }


.search-area {
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 20px;
    padding-right: 120px;
    position: relative;
    .v-label {
      align-self: center;
    } 
}

.search-area form {
  display: flex;
  flex-wrap: wrap;
}

.search-area .src-item {
  padding: 3px 10px;
  width: 25%;
}

.search-area .src-item.col2 {
  width: 50%;
}

.search-area .src-item.col3 {
  width: 75%;
}

.search-area .src-item.col4 {
  width: 100%;
}

/* vutify customizing */
.search-area .v-text-field__details {
  display: none;
}

.search-area .v-text-field {
  padding-top: 0;
  margin-top: 0;
}

.search-area .v-input__slot {
  margin-bottom: 0;
}

.search-area .v-text-field > .v-input__control > .v-input__slot:before {
  content: none;
}

.search-area .v-text-field__slot .v-label {
  position: static !important;
  transform: none !important;
  max-width: auto;
  overflow: visible;
  margin-right: 10px;
}
.search-area .v-text-field__slot .v-label + input {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
}

.search-area .v-input input {
  max-height: 28px;
  text-indent : 5px;
}

.search-area .v-text-field > .v-input__control > .v-input__slot:after {
  display: none;
}

.search-area .v-btn[type="submit"] {
  position: absolute;
  right: 10px;
  top: 13px;
}

/* 조회영역. SelectBox */
.search-area .v-select label {
  position: static !important;
  margin-right: 10px;
  transform: none;
}
.search-area .v-select .v-select__selections {
  background:   #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 28px;
}
.search-area .v-select .v-select__selection {
  margin: 0 5px;
}
.search-area .v-select .v-input__append-inner {
  position: absolute;
  right: 2px;
  margin-top: 0;
}
.search-area .v-select .v-input__icon {
  height: 26px;
}

/* 조회영역. CheckBox */
.search-area .v-input--checkbox {
  margin: 0 10px 0 0;
  display: inline-block;
  padding-top: 0;
  vertical-align: middle;
}
.search-area .src-item > label {
  font-size: 14px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.search-area .v-messages {
  display: none;
}

/* 반응형 처리, mobile first */
.app-xs {
  .search-area {
    padding-right: 0;
  }
  .search-area .src-item {
    width: 100%;
  }
  .search-area .v-btn[type="submit"] {
    position: static !important;
    flex-grow: 1;
    margin: 3px 10px 0px;
  }
}

.app-sm {
  .search-area {
    padding-right: 0;
  }
  .search-area .src-item {
    width: 50%;
  }
  .search-area .src-item.col2,
  .search-area .src-item.col3 {
    width: 100%;
  }
  .search-area .v-btn[type="submit"] {
    position: static !important;
    flex-grow: 1;
    margin: 3px 10px 0px;
  }
}

.app-md {
  .search-area .src-item {
    width: 33.3333%;
  }
  .search-area .src-item.col2 {
    width: 66.6667%;
  } 
  .search-area .src-item.col3 {
    width: 100%;
  }
}

/* 커스텀 테이블 레이아웃 : tbl-detail */
.tbl-detail {
  // border-collapse:collapse;
  border-spacing:0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  th, td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
    padding: 3px 8px;
  }
  th {
    background: #f1f1f1;
    font-weight: 400;
  }
  input {
   border: 1px solid #ddd;
   border-radius: 3px;
   height: 28px;
   &[type="text"], &[type="number"] {
    padding: 0px 5px;
      &:disabled {
        background: #f1f1f1;
      }
   }
  }
  &.text-center {
    th, td {
      text-align: center;
    }
  }
  .c-flex {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    input:not(:last-child),
    button:not(:last-child) {
      margin-right: 3px;
    }
    .width-auto {
      flex: 1 1 auto;
    }
  }
  .btn-zipcode {
    width: 30px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
  }
}

.app-sm, 
.app-xs {
  .tbl-detail {
    border-radius: 4px;
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    th, td {
      display: block;
      border: 0;
    }
    th {
      background: transparent;
      font-weight: 600;
    }
    tbody, tr {
      display: block;
    } 
    .c-flex {
      flex-wrap: wrap;
      .width-auto.mobile-block {
        width: 100%;
        margin-top: 3px;
      }
      .mobile-mr-0 {
        margin-right: 0;
      }
    }  
    &.text-center {
      display: flex;
      thead {
        flex-shrink: 0;
      }
      th, td {
        text-align: left;
      }
    }
  }
}



/** table ******/
/***************/
.v-data-table__wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.v-data-table-header th {
  background: #f1f1f1;
}

/** table ******/
/***************/

.btn-area-row .v-btn:not(:last-child) {
  margin-right: 5px;
}


/* 더미 영역 박스 */
.dummy-box {
  background: #f1f1f1;
  padding: 20px 10px;
  margin-bottom: 25px;
  text-align: center;
  color: #999;
}

/********************************************
  breakpoint 반응형 처리
*********************************************/

// breakpoint xs : ~ 599px
.app-xs.v-application {
  .max-width-box {
    padding-right: $boxHPadding_xs;
    padding-left: $boxHPadding_xs;
  }

}

// breakpoint sm : 600px ~ 950px
.app-sm.v-application {
  .max-width-box {
    padding-right: $boxHPadding_sm;
    padding-left: $boxHPadding_sm;
  }
}


// breakpoint md : 960px ~ 1263px
.app-md.v-application {
  .max-width-box {
    padding-right: $boxHPadding_md;
    padding-left: $boxHPadding_md;
  }
}

