/* 커스텀 공통 변수 */
/* 보더 회색 반투명 */

$borderColor: rgba(180, 180, 180, 0.5);
$bgColor: #ffffff;
$primary: #1976d2;
$secondary: #424242;
$sectionVPadding: 40px;

$textColorWhite: #f1f1f1;


$boxHPadding_xs: 15px;
$boxHPadding_sm: 20px;
$boxHPadding_md: 25px;
$boxHPadding_lg: 30px;