/******************************
  .theme--light customize
*******************************/

.theme--light.v-application {
  .sub-page  {
    .lnb .v-list {
      background: transparent;
    }
  }
}


/******************************
  theme--dark customize
*******************************/
$darkThemePrimary: #00BFA5;

.theme--dark.v-application {
  .sub-page  {
    .lnb {
      background: #262626;
    }
    .lnb .v-list {
      background: transparent;
    }
  }

  .mega-menu {
    background: #262626;
    .menu-list li a {
      color: #f1f1f1;
    }
  }
  
  header {
    background: #000;
  }
  
  .contents-box {
    background: transparent;
  }
  


  .category-banner .title {
    color: $darkThemePrimary;
  }

  .section-title-area.box {
    background: rgba(0, 0, 0, 0.25);
    border-color: #222;
  }


  /* table Default */
  .v-data-table-header th {
    background: rgba(255, 255, 255, 0.05);
  }

  .v-data-table__wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  
  /* table - 상세유형 */
  .tbl-detail {
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    th {
      background: rgba(255, 255, 255, 0.05);
    }
    th, td {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  /* MessageBox */
  .msg-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* .dummy-box */
  .dummy-box {
    background: transparent;
    color: #f1f1f1;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* .search-area */
  .search-area {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .search-area .v-text-field__slot .v-label + input,
  .search-area .v-select .v-select__selections {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

}


