// Globals
$body-font-family: 'NotoSansKr', 'sans-serif';
// $border-radius-root: 6px;
$font-size-root: 100%;
$input-font-size: 0.875rem;
$label-font-size: 0.875rem;

// Variables must come before the import
// $btn-letter-spacing: -1px;
// $btn-font-weight: 400;
// $list-item-title-font-size: 0.929rem;
// $list-item-dense-title-font-size: 0.929rem;
// $list-item-dense-title-font-weight: initial;
// $fab-icon-sizes: (
//   'small': 20
// );

/** btn ********/
/***************/
$btn-sizes: (
  'x-small': 18,
  'small': 24,
  'default': 28,
  'large': 32,
  'x-arge': 38,
);

// $input-max-height: 28px;


$btn-text-transform: initial !default;
$btn-letter-spacing: 0 !default;

// $list
$list-item-action-icon-margin: 10px !default;
$list-group-no-action-item-padding: 50px !default;
$list-group-header-icon-min-width: 24px !default;


// $headings: (
//   'h1': (
//     'size': 3.3125rem,
//     'line-height': 1.15em
//   ),
//   'h2': (
//     'size': 2.25rem,
//     'line-height': 1.5em
//   )
// );
// :root {
//  --v-primary-base: 'yellow';
// }

// $color-main: green;
// $primary: #ff0000;

// $theme: (
//   'primary': "#ff0000",
//   'secondary': "#424242",
//   )

// $grid-breakpoints: () !default;
// $grid-breakpoints: map-deep-merge(
//   (
//     'xs': 0,
//     'sm': 600px,
//     'md': 960px,
//     'lg': 1280px - 16px,
//     'xl': 1920px - 16px
//   ),
//   $grid-breakpoints
// );
