@font-face {
  font-family: 'NotoSansKr';
  src : local("NotoKR-Regular");
  src : url(@/assets/fonts/noto-sans-kr-v27-korean-regular.woff2) format('woff2'),
	url(@/assets/fonts/noto-sans-kr-v27-korean-regular.woff) format('woff'),
        url(@/assets/fonts/notokr-regular.ttf) format('turetype');
  font-weight: 400;
  font-style: normal ;
}
/*기본 bold*/
@font-face {
  font-family: 'NotoSansKr';
  src : local("NotoKR-Medium");
  src : url(@/assets/fonts/noto-sans-kr-v27-korean-500.woff2) format('woff2'),
	url(@/assets/fonts/noto-sans-kr-v27-korean-500.woff) format('woff'),
        url(@/assets/fonts/notokr-medium.ttf) format('turetype');
  font-weight: 500;
  font-style: normal;
}
/*bold */
@font-face {
  font-family: 'NotoSansKr';
  src : local("NotoKR-Bold");
  src : url(@/assets/fonts/noto-sans-kr-v27-korean-700.woff2) format('woff2'),
	url(@/assets/fonts/noto-sans-kr-v27-korean-700.woff) format('woff'),
        url(@/assets/fonts/notokr-bold.ttf) format('turetype');
  font-weight: 700;
  font-style: normal;
}

// Globals
$body-font-family: 'NotoSansKr', 'sans-serif';
// $border-radius-root: 6px;
$font-size-root: 100%;
$input-font-size: 0.875rem;
$label-font-size: 0.875rem;

// Variables must come before the import
// $btn-letter-spacing: -1px;
// $btn-font-weight: 400;
// $list-item-title-font-size: 0.929rem;
// $list-item-dense-title-font-size: 0.929rem;
// $list-item-dense-title-font-weight: initial;
// $fab-icon-sizes: (
//   'small': 20
// );

/** btn ********/
/***************/
$btn-sizes: (
  'x-small': 18,
  'small': 24,
  'default': 28,
  'large': 32,
  'x-arge': 38,
);

// $input-max-height: 28px;


$btn-text-transform: initial !default;
$btn-letter-spacing: 0 !default;
// $headings: (
//   'h1': (
//     'size': 3.3125rem,
//     'line-height': 1.15em
//   ),
//   'h2': (
//     'size': 2.25rem,
//     'line-height': 1.5em
//   )
// );
// :root {
//  --v-primary-base: 'yellow';
// }

// $color-main: green;
// $primary: #ff0000;

// $theme: (
//   'primary': "#ff0000",
//   'secondary': "#424242",
//   )

// $grid-breakpoints: () !default;
// $grid-breakpoints: map-deep-merge(
//   (
//     'xs': 0,
//     'sm': 600px,
//     'md': 960px,
//     'lg': 1280px - 16px,
//     'xl': 1920px - 16px
//   ),
//   $grid-breakpoints
// );


/** table ******/
/***************/
.v-data-table__wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.v-data-table-header th {
  background: #f1f1f1;
}

/** table ******/
/***************/

.btn-area-row .v-btn:not(:last-child) {
  margin-right: 5px;
}
